footer{
    background-color: $gray-800;
    color: $white;
    font-size: 1.1rem;
    width: 100%;
}
.soc__link1{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/vk1.png') no-repeat;
    background-size: cover;
}.soc__link1:hover{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/vk2.png') no-repeat;
    background-size: cover;
}
.soc__link2{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/inst1.png') no-repeat;
    background-size: contain;
}.soc__link2:hover{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/inst2.png') no-repeat;
    background-size: contain;
}
.soc__link3{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/yt1.png') no-repeat;
    background-size: contain;
}.soc__link3:hover{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../i/yt2.png') no-repeat;
    background-size: contain;
}
.footer__li{
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
}
.a__decor:after{
    content: '|';
    color: #dc3545;
    margin-left: 20px;
}
.a__decor:before{
    content: '|';
    color: #dc3545;
    margin-right: 20px;
}
.fa{
    margin-left:10px;
    margin-right: 5px;
}