.brl{
    border-left: solid 3px $red;
}
.ul__decor{
    border-top: solid 3px $gray-400;
    border-bottom: solid 3px $gray-400;
    list-style-type: none;
    padding-bottom: 1.5rem;
}
.li__decor{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1.5rem;
}
.li__decor:before{
    display: inline-block;
    content: ' ';
    background-image: url('../i/checked.png');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    margin-right: 15px;
    vertical-align: middle;
}
.crossed{
    text-decoration-line: line-through;
    font-size: 2rem;
    color: $gray-600;
}
.scale__img:hover{
    transform: scale(1.3);
}
.border__img{
    height: 460px;
    width: 460px;
}
.border__img:hover{
    -webkit-box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
}
.shadow:hover{
    -webkit-box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 18px -6px,-6px 4px 18px -6px rgba(0,0,0,0.75);
}
.img__container{
    // width: 260px;
    // height: 260px;
    overflow: hidden;
}
.price{
    background-color: #a9fbb7;
}
.price:hover{
    background-color: #41ad49;
}